.page {
    &--home {
        padding-top: 4rem;
    }
    
}   
.home {
    position: relative;
    &--quote {
        background-color: $color-e;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        border-radius: 10px;;
    }
    &--background {
        background-image: url(../../img/home-background.png);
        position: fixed;
        z-index: -1;
        top: 0px;
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        

    }
}

@media screen and (min-width: 800px ){
    .home {
        &--quote {
            background-color: $color-e;
            padding-left: 3rem;
            padding-right: 3rem;
            padding-top: 4rem;
            padding-bottom: 4rem;
            border-radius: 20px;;
        }
    }   
}