@media screen and (min-width: 100px) {

  .page {

    &.home,
    &.home-auth,
    &.add-quote {
      padding-top: 4rem;
      position: relative;
      height: 100%;
      padding-left: $space-atom * $sm;
      padding-right: $space-atom * $sm;
    }
  }
}

// 700px and up
@media screen and (min-width: $media-small) {}

// 960px 
@media screen and (min-width: $media-med) {}

@media screen and (min-width: $media-large) {
  .container {
    &__content {
      width: 100%;
      max-width: 1200px;
      margin: auto;
    }
  }
}

@media screen and (min-width: $media-xlarge) {}