/*************************
// ICONS
**************************/

.icon {
  &--default {
    font-size: 2rem;
  }
}


/*************************
// LOADER
**************************/

.loader {


  &--wrapper {
    border-radius: 30px;
    padding: 4rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    margin-left: -450px;
    left: 50%;
    top: 30%;
    // transition: all ease-in-out .3s;
  }

  &--element {
    margin-top: 4rem;
    stroke: #7FA586;
    transform: scale(1) rotate(0deg);
    animation: loader 3s ease-in-out infinite;
    transform-origin: center;
    display: block;
  }
}

@keyframes loader {
  from {
    transform: scale(1) rotate(0);
  }

  50% {
    transform: scale(2) rotate(180deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}