@import url('https://fonts.googleapis.com/css2?family=Trykker&display=swap');

html, body, #root {
  font-family: 'Trykker', serif;
  height: 100%;
}

/*************************
// CONTAINERS
**************************/

.container {
  &--full {
    margin: 0px; 
  }
  &--default {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// contianers > 800px
@media screen and (min-width: 800px){

}

/*************************
// NAV
**************************/

.nav {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  .nav-links {

    &--container {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      margin: 0px;
    }
    &--link {
      padding-left: .5rem;
      padding-right: .5rem;
      a {
        text-decoration: none;
      }
    }
  }
}

// nav > 800px
@media screen and (min-width: 800px){

}

@media screen and (min-width: 800px){

}

/*************************
// ALL QUOTES
**************************/

.quotes {
  &--container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  
  }
  &--search {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    input {
      width: 100%;

    }
  }
}

// SEARCH RESULTS 

.search {
  &--results {
    top: 5rem;
    background-color: white;
    position: absolute;
  }
}

// quote card 
.quote-card {
    margin-bottom: 4rem;
    flex-grow: 1;
    padding: 1rem;
    &--quote {
     margin-bottom: 0px; 
    }
    &--header {
      padding-bottom: .5rem;
    }
    &--author {

    }
    &--row {
      padding-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &--edit {
      opacity: 0;
      transition: all ease-in-out .2s;
    }
    
    &:hover, &:focus {
      .quote-card--edit {
        opacity: 1;
      }      
    }
}





//
@media screen and (min-width: 800px){
  .quotes {
    &--container {
      padding-left: 1rem;
      padding-right: 1rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  .quote-card {      
      
      max-width: 30%;
      flex-basis: 30%;
      
  }

}



/*************************
// ADD QUOTE
**************************/

.add-quote {
  
  z-index: 2;
  position: fixed;
  bottom: 3rem;
  width: 50px;
  height: 50px;
  background-color: #E8E8E8;
  // padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transform: translateX(50vw);
  margin-left: -25px;
  transition: all ease-in-out .2s;
  
  svg {
    font-size:  3rem;
  }
  &:hover, &:focus {
    box-shadow: 2px 2px 5px #999999,-2px -2px 5px #999999;
  }
  &--container {
    display: flex;
    flex-direction: column;
    height: 90%;
  }
  
  &--modal {
    overflow: hidden;
    z-index: 2;
    padding: 1rem;
    margin-top: 2%;
    margin: auto;
    border-radius: 30px;
    left: 5%;
    position: fixed;
    
    width: 90%;
    height: 80%;
    background-color: #fbfbfb;
    
    input, textarea {
      background-color: #fbfbfb;
      flex-grow: 1;
      background-color: none;
      border: none;
      min-height: 2rem;
      display: block;
      width: 100%;
      &:focus {
        outline: none;
        border: none;
      }
    }
    

  }
  &--actions {
    display: flex;
  }
  &--submit {
    height: 2rem;
  }
}

/*************************
// ICONS
**************************/

.icon {
  &--default {
    font-size: 2rem;
  }
}


/*************************
// LOADER
**************************/

.loader {
  
  
  &--wrapper {
    border-radius: 30px;
    padding: 4rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    position: absolute;
    margin-left: -450px;
    left: 50%;
    top: 30%;
    // transition: all ease-in-out .3s;
  }
  &--element {
    margin-top: 4rem;
    stroke: #7FA586;
  transform:  scale(1) rotate(0deg);    
  animation: loader 3s ease-in-out infinite;
  transform-origin: center;
  display: block;
  }
}

@keyframes loader {
  from {
    transform: scale(1) rotate(0);
  }
  50% {
    transform: scale(2) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

